/* You can add global styles to this file, and also import other style files */

// _variables.scss
$primary: #3498db;
$secondary: #2ecc71;
$dark: #2c3e50;
$light: #ecf0f1;

// Bootstrap overrides
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

// Import Bootstrap
@use "bootstrap" as *;